/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}

/* HERO */
.hero {
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    background-color: rgba(0,0,0,0.6);
    padding: 15px 30px;
    border-radius: 10px;
}

/* INTRO: TEXTO + IMAGEN */
.intro {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.intro .texto {
    width: 50%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.intro .imagen img {
    width: 350px;
    border-radius: 8px;
}

/* CARACTERÍSTICAS */
.caracteristicas {
    text-align: center;
    padding: 50px 20px;
}

.caracteristicas h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.iconos .item {
    text-align: center;
}

.iconos i {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* GALERÍA */
.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
}

.galeria img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 40px;
}
